@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Heading";
    src: url("/fonts/Olympus.ttf");
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: #a3a1a1;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-16px);
  }
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: white;
  border: 2px solid black;
  border-bottom-width: 8px;
  border-right-width: 8px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); /* Tailwind's shadow-lg */
  border-radius: 0.5rem; /* Tailwind's rounded-lg */
}

.flip-card-front {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.flip-card-back {
  color: black;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.icon-wrapper-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

.icon-wrapper-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}

@support (initial-letter: 2;) {
  .better {
    initial-letter: 2;
  }
}

.better::first-letter {
  initial-letter: 2;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ticker {
  background-color: black;
  color: white;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
}

.ticker__items {
  display: flex;
  white-space: nowrap;
  animation: ticker 30s linear infinite;
}

.ticker__item {
  margin-right: 50px;
}
